.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    position: absolute; /* Важно для псевдоэлемента */
    background-color: var(--black-color);
    padding: 4vh 10vh;
    width: 80%;
    max-width: 50%;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    border: 0.4vh solid var(--border-color-button);
    overflow: hidden; /* Чтобы псевдоэлемент не выходил за пределы контейнера */
    box-shadow: rgba(0, 0, 0, 0.452) 0 0 9vh;
    transform: translateY(-50%) translateX(-50%);
    left:50%;
    top:50%;
}


.modal-content::before {
    content: '';
    position: absolute;
    z-index: 0;
}

.modal-content h2 {
    padding: 0;
    margin: 0;
    font-family: "Benzin";
    font-weight: 600;
    text-align: left;
    font-size: 6vh;
    margin-top:3vh;
    z-index: 1;
    margin-bottom: 2vh;
}

.modal-ok {
    font-size: var(--main-font-size);
    background-color: white;
    border: none;
    padding: 1.7vh 12vh;
    color: var(--black-color);
    border-radius: 3vh;
    margin-top: 1.3vh;
    align-self: flex-end; /* Добавлено свойство */
    cursor: pointer; /* Добавлено для интерактивности */
    transform:scale(1);
    transition: transform 0.2s ease;
    z-index: 1;
    mix-blend-mode: screen;
}


.modal-ok:hover {
    cursor: pointer;
    transform:scale(1.02);

}

.modal-button {
    font-size: var(--main-font-size);
    background-color: var(--black-color);
    color:white;
    border: 0.1vh solid var(--border-color-button);
    padding:1.3vh 5vh;
    border-radius: var(--buttons-border-radius);
}

.modal-button:hover {
    background-color: var(--black-color-hover);
    cursor: pointer;
}